.navbar{
  padding: 0 5%;
  width: 100%;
  height: 60px;
  background-color: #fcfcfc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitle{
  text-align: start;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.3rem;
  color: #373435;
}

.headerTitle span{
  font-size: 1.8rem;
  font-weight: 800;
}

.navbar-menu{
  display: flex;
  list-style: none;
}

.navbar-menu__item{
  margin: 0 .5rem;
}

.navbar-menu__item a{
  color: white;
  font-weight: 300;
  transition: all .4s ease;
}

.navbar-menu__item a:hover{
  color: #571158;
}

.navbar-menu__btn, .navbar__btn{
  all: unset;
  display: none;
  font-size: 1.5rem;
  font-weight: 300;
}

.navbar__btn{
  transform: rotate(90deg);
  color: #2a2a2a;
}

.navbar__bg{
  display: none;
}

.navbar-menu__btn:hover{
  color: white;
}

.navbar__btn:hover{
  color: #97178f;
}

@media screen and (max-width: 767px){
.navbar-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #571158;
    width: 70%;
    height: 100%;
    padding-top: 60px;
    position: fixed;
    top: -50%;
    left: 135%;
    transform: translate(-50%, -50%);
    text-align: flex-start;
    transition: left .4s ease;
    z-index: 100;
    margin: 0;
  }

  .navbar-menu--open{
    top: 50%;
    left: 65%;
  }

  .navbar-menu__item{
    font-size: 1.2rem;
    margin: 0;
    padding: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    color: white;
  }

  .navbar-menu__item a{
    color: white;
    font-weight: 300;
  }

  .navbar-menu__item a:hover{
    color: white;
  }

  .navbar-menu__item:nth-child(2){
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }

  .navbar-menu__btn{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    color: white;
  }

  .navbar__bg{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .navbar__bg--open{
    display: flex;
  }

  .navbar__btn{
    display: flex;
  }
}

@media screen and (min-width: 768px){
  .navbar{
    height: 100px;
  }

  .navbar-menu__item a{
    color: #373435;
  }

  .headerTitle{
    font-size: 1.65rem;
    line-height: 1.95rem;
  }

  .headerTitle span{
    font-size: 2.7rem;
  }
}

@media screen and (min-width: 1024px){
  .navbar{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.5);
  }

  .headerTitle{
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: white;
  }

  .headerTitle span{
    font-size: 1.8rem;
    color: white;
  }

  .navbar-menu__item a{
    color: white;
  }
}