#form{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.g-recaptcha{
  margin: auto;
  margin-bottom: 10px;
}

input, textarea{
  width: 80%;
  min-width: 80%;
  max-width: 80%;
  height: 36px;
  padding: 10px;
  border: 1px solid #571158;
  margin-top: 10px;
}

textarea{
  height: 100px;
}

input:focus, textarea:focus{
  outline: none;
  border: 1px solid #e23e3c;
}

label{
  margin: 1rem 0;
}

.sendBtn{
  width: 50%;
  margin: auto;
  margin-top: 10px;
  height: 48px;
  border: none;
  background-color: #571158;
  color: white;
}

@media screen and (min-width: 1024px){
  #form{
    width: 30%;
    background-color: white;
    border: 1px solid #571158;
  }

  .sendBtn{
    width: 80%;
    transition: all .4s ease;
    margin-top: 0;
  }

  .sendBtn:hover{
    cursor: pointer;
    background-color: #e23e3c;
  }

  input, textarea, .sendBtn{
    margin-top: 4px;
  }
}