.heroImg{
  display: none;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.heroImgPc{
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(../../../public/img/portadapc2.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (max-width: 1023px) {
  .heroImg{
    display: flex;
  }

  .heroImgPc{
    display: none;
  }
}