.subtitle{
  display: flex;
  position: relative;
  align-items: center;
  width: 70%;
}

.subtitleImg{
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}

.subtitleTxt{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  color: #fff;
  text-align: end;
  width: 100%;
  margin-right: 1rem;
}

.subtitleTxt span{
  font-weight: 800;
}

.sectionImg{
  width: 100%;
  height: auto;
  margin: 2rem;
}

.proposalContainer{
  padding-top: 2rem;
}