.contactContainer{
  margin-top: 50px;
  background-image: url(../../../public/img/contacto.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-align: end;
}

.contactContainer section{
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contactItem{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.contactItem img{
  width: 1.5rem;
  height: auto;
  margin-right: .5rem;
}

@media screen and (min-width: 768px){
  .contactItem img{
    width: 2rem;
    margin-right: 1rem;
  }

  .contactItem p{
    font-size: 1.5rem;
  }
}