.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 5%;
}

.headerTitle{
  text-align: start;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.3rem;
  color: #373435;
}

.headerTitle span{
  font-size: 1.8rem;
  font-weight: 800;
}

.menuImg{
  width: 36px;
}