footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
  background-color: #571158;
  padding: 2rem 0;
  position: relative;
  margin: 0;
  border-top: 10px solid #e23e3c;
}

.footerTitle{
  font-weight: 400;
}

.footerTitle span{
  font-weight: 800;
}

.socialIcon{
  width: 30px;
  height: auto;
  margin: 0 .5rem;
}

@media screen and (min-width: 768px){
  .footerTitle, .footerTitle span{
    font-size: 1.5rem;
  }

  .footerInfo{
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px){
  .socialIcon{
    width: 24px;
  }

  .footerInfo{
    font-size: 1rem;
    display: flex;
    gap: 5px;
  }
}